<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzyl.mapper.MemberMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into member (phone, name, avatar, open_id, gender, create_time, update_time, create_by, update_by,
                            remark)
        values (#{phone}, #{name}, #{avatar}, #{openId}, #{gender}, #{createTime}, #{updateTime}, #{createBy},
                #{updateBy}, #{remark})
    </insert>
    <update id="update">
        UPDATE member
        <set>
            <if test="phone != null and phone !=''">
                phone = #{phone},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
            <if test="openId != null and openId != ''">
                open_id = #{openId},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>
