<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzyl.mapper.ReservationMapper">
    <!--新增预约-->
    <insert id="insert">
        insert into reservation (name, mobile, time, visitor, type, status, create_time, update_time, create_by,
                                 update_by, remark)
        values (#{name},#{mobile},#{time},#{visitor},#{type},#{status},#{createTime},#{updateTime},#{createBy},#{updateBy},#{remark})
    </insert>
    <!--查询取消预约数量-->
    <select id="selectCancelledCount" resultType="java.lang.Integer">
        select count(*)
        from reservation
        where create_by = #{userId}
          and status = 2
          and create_time between #{zero} and #{now}
    </select>

    <!--查询指定时间当天每个时间段剩余预约次数-->
    <select id="selectCountByTime" resultType="com.zzyl.vo.TimeCountVo">
        select time,(6-count(*)) count from reservation
        where create_time between #{beganTime} and #{endTime}
    </select>
    <!--分页查询-->
    <select id="selectByPage" resultType="com.zzyl.vo.ReservationVo">
        select *
        from reservation
        <where>
            <if test="status !=null and status !=''">status=#{status}</if>
        </where>
        order by update_time
    </select>

</mapper>
